@media screen and (min-width:360px)  and (max-width:767px) {
	/* Container */
	div#container{width:100%;height:100%;position:fixed;top:0;right:0}
	/* Header */
	div#header{width:100%;height:40px;line-height:40px;position:fixed;top:0;right:0;z-index:5;background-color:#FFF;box-shadow:1px 2px 1px 0px #DDD}
		div#header div.logout{width:auto;height:40px;line-height:40px;float:right;margin-right:10px;font-size:12px;text-indent:30px;background:url(image/logout.png) no-repeat 12px 16px;background-size:12px 12px}
		div#header div.menuSlide{width:40px;height:40px;float:left;line-height:40px;background:url(image/menu.png) no-repeat 10px;cursor:pointer}
	/* Content */
	div#content{width:340px;height:auto;float:left;margin:50px 10px}
	div.title{width:100%;height:30px;line-height:30px;font-weight:bold;float:left;background-color:#0098CE;color:#FFF;text-indent:20px}
	/*Login*/
	div#login{width:360px;height:auto;background-color:#FFF;margin:0;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;padding:10px}
	div#login div.title{width:340px;height:30px;line-height:30px;margin:5px auto;background-color:#EEE;color:#666;text-align:center;font-size:17px;font-weight:bold}
	div#login div.error{width:340px;height:24px;line-height:24px;color:#990000;font-weight:bold;font-size:12px;text-align:center}
	div#login div.line{width:340px;height:auto;float:left;margin:5px 0;text-align:center}
	div#login div.left{width:100%;height:30px;line-height:30px;text-align:left;float:left;font-size:14px;font-weight:bold;color:#555}
	div#login div.right{width:100%;height:40px;line-height:30px;float:left}
	div#login div.right input{width:340px;height:38px;border:solid 1px #DDD;float:left;text-indent:10px;color:#808080}
	div#login input[type=submit]{width:auto;height:auto;margin:5px auto;padding:4px 20px;background-color:#444;color:#FFF;border:none;cursor:pointer}
	div#login input[type=submit]:hover{background-color:#666}
	/* Menu */
	div#menu{width:200px;height:100%;position:fixed;top:0;left:-200px;z-index:6;background-color:#FFF;box-shadow:0 0 1px 1px #DDD}
		div#menu a{text-decoration:none;color:#000}
		div#menu div.panel{width:100%;height:40px;line-height:40px;float:left;color:#333;font-size:19px;font-weight:bold;text-align:center}
		div#menu span.line{width:100%;height:30px;line-height:30px;float:left;font-size:12px;text-indent:30px}
		div#menu span.line:hover{background-color:#EEE;cursor:pointer}
		div#menu li.line{width:100%;height:30px;line-height:30px;float:left;font-size:12px;text-indent:30px;display:none}
		div#menu li.line:hover{background-color:#EEE;cursor:pointer}
		div#menu .book{background:url(image/book.png) no-repeat 10px;background-size:12px 12px}
		div#menu .home{background:url(image/home.png) no-repeat 10px;background-size:12px 12px}
		div#menu .user{background:url(image/user.png) no-repeat 10px;background-size:12px 12px}
		div#menu .money{background:url(image/money.png) no-repeat 10px;background-size:12px 12px}
		div#menu .category{background:url(image/category.png) no-repeat 10px;background-size:12px 12px}
		div#menu .page{background:url(image/page.png) no-repeat 10px;background-size:12px 12px}
		div#menu .clear{background:url(image/clean.png) no-repeat 10px;background-size:12px 12px}
		div#menu .slider{background:url(image/slider.png) no-repeat 10px;background-size:12px 12px}
		div#menu .contact{background:url(image/contact.png) no-repeat 10px;background-size:12px 12px}
		div#menu .settings{background:url(image/settings.png) no-repeat 10px;background-size:12px 12px}
		div#menu .video{background:url(image/video.png) no-repeat 8px;background-size:16px 16px}
		div#menu .i40{text-indent:40px !important}
	/* List */
	div#list{width:100%;height:auto;float:left;background-color:#FFF;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;padding:10px}
	div#list div.line{width:100%;height:30px;line-height:30px;float:left;font-size:13px;border-bottom:dotted 1px #DDD}
	div#list div.line:hover{background-color:#F5F5F5}
	div#list div.line:last-child{border:none}
	div#list div.list_id{width:60px;height:30px;line-height:30px;float:left;text-align:center}
	div#list div.list_nm{width:200px;height:30px;max-width:640px;line-height:30px;float:left;white-space:nowrap;text-indent:10px;overflow:hidden;text-overflow:ellipsis}
	div#list div.del{width:30px;height:30px;line-height:30px;text-align:center;float:left;background:url(image/del.png) no-repeat 7px;background-size:16px 16px}
	div#list div.edit{width:30px;height:30px;line-height:30px;text-align:center;float:left;background:url(image/edit.png) no-repeat 8px;background-size:14px 14px}
	div#list div.margin{width:100%;height:auto;margin-bottom:20px}
	/* Image List */
	div#img_list{width:100%;height:auto;float:left;background-color:#FFF;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;padding:10px}
	div#img_list div.line{width:100%;height:90px;line-height:90px;float:left;font-size:13px;border-bottom:dotted 1px #DDD}
	div#img_list div.line:hover{background-color:#F5F5F5}
	div#img_list div.line:last-child{border:none}
	div#img_list div.list_id{width:60px;height:90px;line-height:90px;float:left;text-align:center}
	div#img_list div.list_nm{width:180px;height:90px;line-height:90px;float:left;text-indent:10px}
	div#img_list div.list_nm img{max-width:135px;max-height:80px;vertical-align:middle;text-indent:10px}
	div#img_list div.del{width:40px;height:90px;line-height:90px;text-align:center;float:left;background:url(image/del.png) no-repeat 17px;background-size:16px 16px}
	div#img_list div.edit{width:40px;height:90px;line-height:90px;text-align:center;float:left;background:url(image/edit.png) no-repeat 18px;background-size:14px 14px}
	div#img_list div.margin{width:100%;height:auto;margin-bottom:20px}
	/* Form */
	div#form{width:340px;height:auto;float:left;background-color:#FFF;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;padding:10px}
	div#form div.form{width:100%;height:auto;margin-top:40px}
	div#form div.line{width:100%;height:auto;float:left;margin-bottom:10px;font-size:14px}
		div#form div.line input[type=submit]{width:100%;height:40px;float:left;margin-top:10px;border:none;border-radius:4px;background-color:#00BCA4;color:#FFF;font-weight:bold;cursor:pointer}
	div#form div.left{width:100%;height:24px;line-height:24px;float:left;font-weight:bold;margin-bottom:4px}
	div#form div.right select.multiple{width:100%;height:100px;border:solid 1px #DDD;color:#808080}
	div#form div.right{width:100%;height:35px;line-height:35px;float:left}
	div#form div.right input{width:100%;height:35px;border:solid 1px #DDD;color:#808080;text-indent:10px}
	div#form div.right input[type=file]{display:none}
	div#form div.file{width:100%;height:30px;line-height:30px;overflow:hidden;text-overflow:ellipsis}
	div#form div.file label{width:auto;max-width:100%;height:30px;line-height:30px;overflow:hidden;text-overflow:ellipsis;padding:4px 20px;text-align:center;background-color:#CCC;color:#333;border-radius:4px;cursor:pointer}
	/* Users */
	div#user{width:100%;height:auto;float:left;background-color:#FFF;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;padding:5px}
	div#user div.user{width:310px;height:auto;float:left;margin:9px;border:solid 1px #DDD}
	div#user div.line{width:100%;height:auto;float:left;border-bottom:solid 1px #DDD}
	div#user div.line:last-child{border:none}
	div#user div.left1{width:100%;height:24px;line-height:24px;text-indent:5px;float:left}
	div#user div.left2{width:100%;height:24px;line-height:24px;text-indent:5px;float:left}
	div#user div.address{width:100%;height:72px;line-height:24px;float:left;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;padding:10px}
	/* Pagging */
	div#pagging{width:100%;height:40px;line-height:40px;background-color:#FFF;margin:10px 0px 10px 0px;float:left;text-align:center}
	div#pagging a{text-decoration:none;color:#000;text-align:center;padding:3px 6px;background-color:#FFF;border:solid 1px #3C889B;border-right:none;color:#3C889B}
	div#pagging a:first-child{border-top-left-radius:4px;border-bottom-left-radius:4px}
	div#pagging a:last-child{border-top-right-radius:4px;border-bottom-right-radius:4px;border-right:solid 1px #3C889B}
	div#pagging a:hover{background-color:#3C889B;color:#FFF}
	div#pagging a.active{background-color:#3C889B;color:#FFF}
	/* Messages */
	div.info{width:100%;height:auto;line-height:24px;font-weight:bold;float:left;background-color:#FFF58B;color:#B2A300;padding:5px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
	div.error{width:100%;height:auto;line-height:24px;font-weight:bold;float:left;background-color:#FFECEC;color:#E33630;padding:5px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
	div.success{width:100%;height:auto;line-height:24px;font-weight:bold;float:left;background-color:#11EBB6;color:#0A8F6F;padding:5px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
	/* Confirm link */
	a.confirm{width:auto;height:auto;float:left;padding:5px 12px;margin-top:10px;border:none;border-radius:4px;background-color:#00BCA4;color:#FFF;font-weight:bold;text-decoration:none}
	/* Stat */
	div.stitle{width: 100%;height: 30px;line-height: 30px;float: left;background-color: #333;color: #F5F5F5;text-indent: 10px;border-radius: 3px;margin:10px 0;}
	div.stat{width: 100%;height: 95px;float: left;margin: 6px 6px 6px 0;}
	div.stat_title{width: 100%;height: 30px;line-height: 30px;float: left;margin-top: 5px;text-indent: 10px;font-weight: bold}
	div.stat_text{width: 100%;height: 60px;line-height: 60px;float: left;text-indent: 10px;font-weight: bold;font-size: 25px}
	div.mavi{background-color: #39ADD1;color: #FFF}
	div.mavi2{background-color: #0098CE;}
	div.turuncu{background-color: #FF5722;color: #FFF}
	div.turuncu2{background-color: #FF3D00;}
	div.yesil{background-color: #2ECC71;color: #FFF}
	div.yesil2{background-color: #4CAF50;}
	div.mor{background-color: #D12CC3;color: #FFF}
	div.mor2{background-color: #AD25A2;}
	div.sari{background-color: #FFCB19;color: #FFF}
	div.sari2{background-color: #D9AD16;}
	div.kirmizi{background-color: #FF1919;color: #FFF}
	div.kirmizi2{background-color: #EC0707;}
	div.siyah{background-color: #444;color: #FFF}
	div.siyah2{background-color: #333;}
	div.bordo{background-color: #C25975;color: #FFF}
	div.bordo2{background-color: #AD5069;}
}